*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #403F69;
}

h1{
    color: aliceblue;
}


#main-palindro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #1c1c2c;
    height: 15em;
    width: 21em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    padding: 1em;
}


#text-input{
    padding: 0.5em 1em;
    margin-bottom: 1em;
    transition: background-color 0.3s;
    border-radius: 0.5em;
    border: none;
}


#check-btn {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#check-btn:hover {
    background-color: #45a049;
}

#result {
    margin-top: 1em; 
    color: white;
}